<html>

<body>
    


 <div id="menu-cart-open">
    <div class="cart-title-wrap">
        <div class="title">
            <h3 class="heading-03">Compte</h3>
        </div>
        <div class="show-cart">
            <span class="closebtn" title="Close Overlay">×</span>
        </div>
    </div>
    <!--// Cart Title-->
    <div class="cart-content" style="background-color: darkgrey;">
        <div class="cart-item-wrap">
            

            <div class="main-btn-wrap padding-top-20">
                <a href="/signin" class="main-btn black" style="color: grey;">Login</a>
            </div>
            <div class="main-btn-wrap padding-top-20">
                <a href="/signup" class="main-btn black" style="color:grey">Register</a>
            </div>
            <!--// Button -->
        </div>
    </div>
</div>
<header class="position-inherit border-none">
    <!--Topbar area-->
    <div class="topbar-area style-02">
        <div class="container">
            <div class="topbar-inner">
                <div class="left-content">
                    Ordered before 17:30, shipped today - Support: (012) 800 456 789
                </div>
                <div class="right-content">
                    <div class="social-icon">
                        <ul>
                            <li><a class="icon" href="https://twitter.com/codingeeknet" target="_blank"><i
                                        class="fab fa-twitter"></i></a></li>
                            <li><a class="icon" href="https://www.instagram.com/codingeeknet" target="_blank"><i
                                        class="fab fa-instagram"></i></a></li>
                            <li><a class="icon" href="https://www.facebook.com/codingeek.net/" target="_blank"><i
                                        class="fab fa-facebook-square"></i></a></li>
                        </ul>
                    </div>
                    <div class="custom-select-box style-02">
                        <select>
                            <option value="ban">Ban</option>
                            <option value="eng">Eng</option>
                            <option value="hindi">Hindi</option>
                            <option value="tamil">Tamil</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--// Top Bar Area End-->

    <div class="container">
        <div class="row">
            <div class="header-bottom-area">
                <!--Logo Area Start-->
                <div class="logo-area">
                    <a href="index-2.html">
                        <img src="assets/img/logo-02.png" alt="Logo">
                    </a>
                </div>
                <!--// Logo Area End-->

                <!--Navbar Area Start Here-->
                <nav class="navbar navbar-area navbar-expand-lg style-02">
                    <div class="container nav-container">
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#autoshop_main_menu" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="humberger-menu black">
                                <span class="one"></span>
                                <span class="two"></span>
                                <span class="three"></span>
                            </span>
                        </button>
                        <div class="collapse navbar-collapse" id="autoshop_main_menu">
                            <ul class="navbar-nav">
                                <li class="menu-item-has-children">
                                    <a href="#">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="index-2.html">Home 01</a></li>
                                        <li><a href="index-3.html">Home 02</a></li>
                                        <li><a href="index-4.html">Home 03</a></li>
                                        <li><a href="index-5.html">Home 04</a></li>
                                        <li><a href="index-6.html">Home 05</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Services</a>
                                    <ul class="sub-menu">
                                        <li><a href="service.html">Services</a></li>
                                        <li><a href="service-details.html">Services Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Blog</a>
                                    <ul class="sub-menu">
                                        <li><a href="blog.html">Blog</a></li>
                                        <li><a href="blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children">
                                    <a href="#">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">Shop</a></li>
                                        <li><a href="shop-02.html">Shop 02</a></li>
                                        <li><a href="shop-details.html">Shop Details</a></li>
                                        <li><a href="shop-details-2.html">Shop Details 02</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children current-menu-item">
                                    <a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="about-us.html">About Us</a></li>
                                        <li class="menu-item-has-children">
                                            <a href="#">UI Elements</a>
                                            <ul class="sub-menu">
                                                <li><a href="cart.html">Cart</a></li>
                                                <li><a href="typography.html">Typography</a></li>
                                                <li><a href="accordions.html">Accordions</a></li>
                                                <li><a href="buttons.html">Buttons</a></li>
                                                <li><a href="icons.html">Icons</a></li>
                                                <li><a href="table.html">Table</a></li>
                                                <li><a href="pagination.html">Pagination</a></li>
                                                <li><a href="modal.html">Modal</a></li>
                                                <li><a href="form.html">Form</a></li>
                                                <li><a href="header.html">Header</a></li>
                                                <li><a href="footer.html">Footer</a></li>
                                                <li><a href="alert.html">Alert</a></li>
                                                <li><a href="countdown.html">Countdown</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="car-sell.html">Car Sell</a></li>
                                        <li><a href="car-repair.html">Car Repair</a></li>
                                        <li><a href="car-booking.html">Car Booking</a></li>
                                        <li><a href="faq.html">Faq</a></li>
                                        <li><a href="coming-soon.html">Coming Soon</a></li>
                                        <li><a href="404.html">404</a></li>
                                        <li><a href="sign-in.html">Sign In</a></li>
                                        <li><a href="sign-up.html">Sign Up</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <!--Nav Right Content-->
                        <div class="nav-right-content black">
                            <ul>
                                <li class="cart show-cart">
                                    <a href="#" class="notification" >
                                    <img src="assets/img/logoUser.png" style="width: 40px; height: 40px;" alt="">
                                    </a>
                                </li>
                                <li class="search" id="search">
                                    <i class="fa fa-search"></i>
                                </li>
                                <li>
                                    <div class="humberger-menu black toggle-btn">
                                        <span class="one"></span>
                                        <span class="two"></span>
                                        <span class="three"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--// Nav Right Content-->
                    </div>
                </nav>
                <!-- navbar area end -->
            </div>
            <!--// header Bottom-->
        </div>
    </div>
</header>

</body>
</html>